/*-- scss:defaults --*/

// fonts
@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

$font-family-sans-serif: "Atkinson Hyperlegible", sans-serif;
$presentation-heading-color: #3A5883;
$presentation-title-slide-text-align: "left";
$link-color: #3A5883;
$code-color: #3A5883;
$code-block-font-size: 0.6em;
$presentation-font-size-root: 45px;
$presentation-h2-font-size: 1.2em;

/*-- scss:rules --*/

details>summary {
  font-size: 0.75em;
}

.reveal #title-slide .subtitle {
  color: #3A5883;
  font-weight: bold;
  text-align: left;
}

.reveal #title-slide .author {
  text-align: left;
}

.reveal #title-slide .institute {
  text-align: left;
}

.small {
  font-size: 0.75em;
}

.xsmall {
  font-size: 0.6em;
}

.xxsmall {
  font-size: 0.5em;
}

.reveal .slide .question {
  border-left: 3px solid #3A5883;
  padding-left: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  background: #a4b9da;
}

.reveal .slide .poll {
  border-left: 3px solid #FFBE98;
  padding-left: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  background: #ffdecb;
}

.reveal .slide .appex {
  border-left: 3px solid #3A5883;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.5em;
  background: #a4b9da;
}

.reveal .slide .demo {
  border-left: 3px solid #3a7d83;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.5em;
  background: #a8d5d9;
}

.reveal pre code {
  width: 1100px;
}

.reveal .hand {
  font-family: 'Gochi Hand', cursive;
  font-size: 1.2em
}

.reveal dl.code-annotation-container-grid {
    margin-left: 0.1em;
    background-color: #ecf1f7;
}
