/*-- scss:defaults --*/

// fonts
@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@700&display=swap');


$font-family-sans-serif: "Atkinson Hyperlegible", sans-serif;
$presentation-heading-color: #3A5883;
$presentation-title-slide-text-align: "left";
$link-color: #3A5883;
$code-block-font-size: 0.8em;
$presentation-font-size-root: 50px;

/*-- scss:rules --*/

details>summary {
  font-size: 0.75em;
}

#title-slide .subtitle {
  color: #3A5883;
  font-weight: bold
}

#title-slide .author {
  text-align: right;
}

#title-slide .institute {
  text-align: right;
}

.small {
  font-size: 0.75em;
}

.reveal .slide .question {
  border-left: 3px solid #3A5883;
  padding-left: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  background: #a4b9da;
}

.reveal .slide .poll {
  border-left: 3px solid #FFBE98;
  padding-left: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  background: #ffdecb;
}

.reveal .slide .appex {
  border-left: 3px solid #3A5883;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.5em;
  background: #a4b9da;
}

.reveal .slide .demo {
  border-left: 3px solid #3a7d83;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.5em;
  background: #a8d5d9;
}



.reveal pre code {
  width: 1000px;
}
